*.sld filter=lfs diff=lfs merge=lfs -text
*.sli filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.stix filter=lfs diff=lfs merge=lfs -text
*.sld !text !filter !merge !diff
*.sli !text !filter !merge !diff
*.json !text !filter !merge !diff
*.stix !text !filter !merge !diff
*.fod !text !filter !merge !diff
*.foi !text !filter !merge !diff
*.shi !text !filter !merge !diff
*.shd !text !filter !merge !diff
*.err !text !filter !merge !diff
