.coverage
MANIFEST
.cache/
cover/
build/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
env/
.venv/
venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
dist
.idea/
geolib.egg-info/
htmlcov/
.mypy_cache/
tests/test_output/*
*.code-workspace
.DS_Store
.hypothesis

tests/DStabilityConsole
tests/DSheetPiling
tests/DSettlement
tests/DFoundations
tests/DGeoFlowConsole
_autosummary/
examples/**/output
