.coverage
MANIFEST
.cache/
cover/
build/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
env/
.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
dist
.idea/
geolib.egg-info/
htmlcov/
.mypy_cache/
tests/test_output/*
*.code-workspace
