[tool.poetry]
name = "d-geolib"
version = "0.2.1"
description = "Python wrappers around the input and output files of the Deltares D-Serie and D-GEO Suite models"
authors = ["Maarten Pronk <maarten.pronk@deltares.nl>", "Deltares"]
license = "MIT"
homepage = "https://deltares.github.io/GEOLib/"
documentation = "https://deltares.github.io/GEOLib/"
repository = "https://github.com/Deltares/GEOLib"
readme = "README.rst"
packages = [
    {include = "geolib"}
]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = {version = "^1.6.1 <1.10", extras = ["dotenv"]}
zipp = "^3.1.0"
fastapi = {version = ">=0.58 <0.79", optional = true}
uvicorn = {version = ">= 0.11 <0.19", optional = true}
requests = "^2.24.0"
jinja2 = "^3.1.2"

[tool.poetry.group.dev.dependencies]
teamcity-messages = "^1.27"
flake8 = "^4.0.1"
black = "^22"
devtools = "^0.8.0"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
rst2pdf = "^0.99"
mypy = "^0.961"
sphinx = "^4.3.2"
recommonmark = "^0.7.1"
sphinx-autodoc-typehints = "^1.17.1"
releases = "^1.6.3"
sphinx-multiversion = "^0.2.4"
isort = "^5.9.3"
commitizen = "^2.29.5"
tomlkit = "^0.11.3"

[tool.poetry.extras]
server = ["fastapi", "uvicorn"]

[tool.poetry.scripts]
geolib_server = "geolib.service.main:app"

[tool.black]
line-length = 90
target-version = ['py37']

[build-system]
requires = ["poetry>=1.2.2"]
build-backend = "poetry.masonry.api"

[tox]
isolated_build = true
envlist = "py37, py38, py39, py310"

[tool.pytest.ini_options]
testpaths = ["tests"]

[isort]
multi_line_output=3
include_trailing_comma=true
force_grid_wrap=0
use_parentheses=true
line_length=90
profile = "black"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.2.1"
tag_format = "v$major.$minor.$patch$prerelease"
version_files = [
    "pyproject.toml:^version",
    "tests/test_geolib.py",
    "geolib/__init__.py:__version__",
]
annotated_tag = true