alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.4.0; sys_platform == "win32"
attrs==19.3.0
babel==2.8.0
black==19.10b0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3; sys_platform == "win32"
commonmark==0.9.1
coverage==5.1
devtools==0.5.1
docutils==0.16
entrypoints==0.3
flake8==3.7.9
hypothesis==5.11.0
hypothesis-jsonschema==0.11.1
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0; python_version < "3.8"
jinja2==2.11.2
jsonschema==3.2.0
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
mypy==0.761
mypy-extensions==0.4.3
packaging==20.3
pathspec==0.8.0
pdfrw==0.4
pillow==7.1.2
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pydantic==1.5.1
pyflakes==2.1.1
pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.1
pytest-cov==2.8.1
python-dotenv==0.12.0
pytz==2020.1
recommonmark==0.6.0
regex==2020.5.7
reportlab==3.5.42
requests==2.23.0
rst2pdf==0.96
six==1.14.0
smartypants==2.0.1
snowballstemmer==2.0.0
sortedcontainers==2.1.0
sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
teamcity-messages==1.28
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
wcwidth==0.1.9
zipp==3.1.0
